.listWrapper{
    width:100%;
}

.listHeader{
    display: flex;
    justify-content: space-between;
    scrollbar-width: 2px;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: white;
    border-bottom: 2.5px solid black;
}

.tableWrapper{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}

.columnHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    scrollbar-gutter: unset;
    text-align: center;
    text-transform: capitalize;
    border-right: 2.5px solid black;

}

.inner{
    color: black;
}
  
