.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: auto;
  border: 1px solid rgba(0,0,0,0.5);
  border-left: transparent;
  border-radius: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.titleMenuWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.titlePage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.button {
  white-space: nowrap;
  padding: 15px  25px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
 
}
.button:hover {
  background-color: #7083ec;
  color: #fff;
  
}

.listWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 5px solid black;
}

.itemWrapper{
  position: relative;
  display: flex;
  height: 100%;
}


.item {
  color: white;
} 

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: black;
  border: 1px solid black;
  text-align: center;
  padding: 2px;
}